h4{
    padding-left:60px;
}
.input-container{
    position: relative;
    width: 70%;
}

.password-input{
    padding-right: 35%;
}

.eye-icon{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.copy-icon{
    margin-left: 10px;
}

.success{
    color: green;
    margin-top: 6px;
}