.totalCasesBox{
    background-color: var(--slds-g-color-palette-purple-60);
    color: white;
}

.datatable-box{
 border: solid #d8dde6;
    border-radius: 8px;
}

.monthCasesBox{
    background-color: var(--slds-g-color-palette-purple-40);
    color: white;
}

.medium_priority{
    background-color: #F1F14E;
    color: white;
}

.square-box{
    display:flex;
    justify-content:center;
}

.square-box .slds-box{
    width:400px;
    height:180px;
    display:flex;
    flex-direction:column;
    justify-content:center;   
    align-items:center;      
    text-align:center;
    
}
 lightning-card{
    font-family: cursive;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    
 }

 .square-box .slds-box {
    transition: all 0.5s ease-in-out;
    border-radius: 12px; 
}

.square-box .slds-box:hover {
    background: red;
    color: white;
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25); 
}