.totalCasesBox{
    background-color: var(--slds-g-color-palette-purple-60);
    color: white;
}

.monthCasesBox{
    background-color: var(--slds-g-color-palette-purple-40);
    color: white;
}

.medium_priority{
    background-color: #F1F14E;
    color: white;
}

.square-box{
    display:flex;
    justify-content:center;
}

.square-box .slds-box{
    width:220px;
    height:180px;
    display:flex;
    flex-direction:column;
    justify-content:center;   
    align-items:center;      
    text-align:center;
    
}


